@-webkit-keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        opacity: initial;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        opacity: initial;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fade {
    from {
        opacity: inherit;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade {
    from {
        opacity: initial;
    }
    to {
        opacity: 0;
    }
}

#home * {
    -webkit-animation: fade-in-down 1.5s;
    animation: fade-in-down 1.5s;
}

#home .header {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    width: 75%;
}

#home .title {
    font-size: 6vw;
    font-weight: 100;
    margin: 10px;
    font-family: 'Potra Web';
}

#home .chevron {
    position: absolute;
    /*TODO: more rigorous positioning*/
    right: 17%;
    bottom: 23%;
}

#typing-text {
    height: 30px !important;
    font-size: 20pt;
}

#typing-text #content:after {
    content: '\2759';
    -webkit-animation: fade 0.5s alternate infinite;
    animation: fade 0.5s alternate infinite;
}

#home .contact-icon-container{
    margin-top: 40px;
    padding: 0 6em;
    border: none;
    flex-direction: row;
}

#home .contact-icon-container .contact-circle{
    margin: 0 10px;
    /* opacity: 0.2; */
    color: rgba(255, 255, 255, 0.2);
}

#home .contact-icon-container .contact-circle:hover{
    /* opacity: 1; */
    color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width:460px) {
    #typing-text {
        height: 75px !important;
    }
    #home .contact-icon-container{
        margin-top: 0;
    }
}