@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400');
@font-face {
    font-family: "Source Code Pro";
    src: url('https://github.com/powerline/fonts/blob/master/Inconsolata/Inconsolata%20for%20Powerline.otf?raw=true') format('otf');
}

:root {
    --primary-bg: #0F0F0F;
    --primary-window: #191919;
    --accent: rgb(205, 152, 29);
    --pixel-size: 1px;
    --pixel-width: 40px;
    --pixel-color: #545454;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inconsolata', 'Ubuntu Mono', monospace;
    font-size: 16pt;
}

a {
    color: white;
}

.accent, .skill-icon a.active {
    color: var(--accent);
    transition: color 0.2s;
}

.background {
    background: -webkit-gradient(linear, left top, right top, from(var(--primary-bg)), color-stop(1%, transparent)) center, -webkit-gradient(linear, left top, left bottom, from(var(--primary-bg)), color-stop(1%, transparent)) center, var(--pixel-color);
    background: linear-gradient(90deg, var(--primary-bg) calc(var(--pixel-width) - var(--pixel-size)), transparent 1%) center, linear-gradient(var(--primary-bg) calc(var(--pixel-width) - var(--pixel-size)), transparent 1%) center, var(--pixel-color);
    background-size: var(--pixel-width) var(--pixel-width);
}

.chevron svg {
    height: 40px;
    width: 40px;
}

.chevron {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.chevron:hover {
    -webkit-filter: drop-shadow(3px 3px 3px black);
    filter: drop-shadow(3px 3px 3px black);
}

img.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 40px;
    opacity: 0.5;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-filter: drop-shadow(2px 4px 1px black);
    filter: drop-shadow(2px 4px 1px black);
    z-index: 1;
}

img.logo:hover {
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--primary-bg);
    border-left: 1px solid var(--accent);
    transition: border-left 0.4s;
}

#sidebar .icon-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#sidebar .icon-container svg {
    height: 30px;
    width: 30px;
    color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#sidebar a.active svg {
    color: var(--accent);
    height: 40px;
    width: 40px;
}

.shadowed {
    -webkit-box-shadow: 16px 11px 17px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 16px 11px 17px 7px rgba(0, 0, 0, 0.5);
}

.page {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.window {
    background: var(--primary-window);
    border-radius: 8px;
    width: 75%;
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.window-header {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.window-header .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65px;
    margin: 0 10px;
}

.button-container .button {
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

.button-container .button:hover {
    opacity: 0.5;
}

.button-container .button+.button {
    margin-left: 10px;
}

.button.close {
    background: #EB5B54;
}

.button.minimize {
    background: #F7BC33;
}

.button.maximize {
    background: #69CB45;
}

.window-header .title {
    margin: auto;
    padding: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title .title-text {
    font-family: 'Inconsolata', 'Ubuntu Mono', monospace;
    font-size: 14pt;
    margin-left: 5px;
}

.window-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: calc(100% - 40px);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
}

.window .content {
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 25px;
}

.window .chevrons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 65px;
    margin-right: 5%;
    height: 50vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media only screen and (max-width: 668px) {
    #sidebar {
        display: none;
    }
    .page+.page {
        margin-bottom: 20%;
    }
    .window {
        width: 90%;
    }
    .chevrons {
        display: none !important;
    }
    .button-container{
        display: none !important;
    }
}

@media only screen and (max-height: 480px) {
    .page+.page {
        margin-bottom: 10%;
    }
}