.container {
    height: 100%;
    padding-left: 0;
    position: relative;
}

a.button:not(:first-of-type) {
    top: -10px;
}

.fixed {
    position: sticky;
    left: 0;
    top: 56px;
    height: calc(100vh - 56px);
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sidebar .image {
    background: url("https://lh3.googleusercontent.com/ZQYqHmrPkaroI7T6p6tSUfJWmfuKRlRvlaSqjPO2DBp6pJPWCFaDJbGmNDYuGB13pfs9DPDHB_XwnZpxp1bmuM9NnwgjWb5FKmk49atnCVQeesIpBuSmDmjoGjJw_P35a3VlyVMAPq4y4vViyUD5fFlUnRqMw4GxNYAbUHBmCT9V4-_7A54-WWg8RE4ptIIGkzo4XqQd7yy_TtFc9BtQM-pNbTfjCa-K0AABfrEq6mHrGfpfpC9uaNMYgbp8qE4i1Iq-ZfCrXFnyWVNC3RLr8x4Uu5HbEnsyPlgWXfREPSTK4o68bXdEsQ9wmQkh0KcyGBqoDklShfivlXt0OP21mT3F1HGLJaeRoSa8Eu0aVGXZeuy7sk1ZA9C8C_m1eJvGV3AOSfhZr3FnMsWCJl2nzFKZ0MP4pBYMwBeLstFnTJU_17fOJnMCBiTMljY_K_X_oB1NM5bOnnTdtU2lc8zxk_M-03vjkXYdk7OR-4rYnFqz2n5j9bgDoussuuUQDPL0-GNoFE2GZlcy3ONMt4-8tuCXyHeySQTPxSKBHay819Q5tA0_krlq6JoTyTQ=w1920-h990") 50% 20% no-repeat;
    width: 175px;
    height: 175px;
    background-size: 100%;
    border: 4px solid white;
}

#menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--back-color);
}

#menu a {
    text-decoration: none;
    color: gray;
    transition: color 0.2s;
}

#menu a.active,
#menu a:hover {
    color: white;
}

#content>div {
    /* TODO: remove */
    min-height: 20vh;
    padding: 2.5%;
    border: 1px solid white;
}

#bottom-panel {
    width: 100%;
}

#bottom-panel a.button {
    margin-bottom: 25px;
}

#contact {
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

#contact svg {
    color: white;
}

#sidebar:before {
    content: '';
}

#languages [class^="col-"]:nth-child(1) {
    text-align: right;
}

#languages progress,
#languages progress::-webkit-progress-bar {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#languages progress::-webkit-progress-value {
    background: #23c9ff;
}

#languages progress::-moz-progress-bar {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background: #23c9ff;
}

/* #languages progress:nth-of-type(2)::-webkit-progress-value {
    background: #ca054d;
}

#languages progress:nth-of-type(3)::-webkit-progress-value {
    background: #a4d4b4;
}

#languages progress:nth-of-type(4)::-webkit-progress-value {
    background: #23c9ff;
} */

@media only screen and (max-width: 767px) {
    .fixed {
        position: sticky;
        height: initial;
        border-right: none;
        border-bottom: 1px solid white;
        flex-direction: row;
    }
    #sidebar {
        flex-direction: column;
    }
    #sidebar .image,
    #sidebar h2,
    #bottom-panel {
        display: none;
        /* for now */
    }
    #center-panel {
        width: 100%;
    }
    #menu {
        flex-direction: row;
        justify-content: space-around;
    }
    #languages [class^="col-"]:nth-child(1) {
        text-align: left;
    }
}